/* .maintable{
    height: 90dvh;
    width: 90dvw;
    border: 1px;
} */

td {
    text-align: center;
    border: 1px solid purple;
}

thead > tr > th {
    background-color: #e5e4e4;
    margin: 2px;
    border-radius: 2px;
}
